:root{
    --color-blue:#0A3871;
    --color-gris:#D8DFE8;

}

body{
    background-color: #F3F5FC;
}

header{
    background-color:antiquewhite;
    width: 90%;
    margin: auto;
}
.header__logo{
    margin-top: 40px;
}

.main{
    width: 80.5%;
    margin: auto 40px auto auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: calc(100vh - 91px - 72px);
}
/*MAIN*/

.parte_izquierda{
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.imagen_logo{
    width: 13px;
    height: 13px; 
}

.ingreso__texto{
    width: 80%;
    font-size: 32px;
    color:var(--color-blue);
    background-color: none;
    border: none;
    outline: none;
    resize: none;
}

.ingreso_texto::placeholder{
    color:var(--color-blue);
}

.izquierda_botones{
    display: flex;
    gap: 24px;
    margin-top: 16px;
}

.btn_encriptar,
.btn_desencriptar{
    max-width: 328px;
    width: 40%;
    height: 67px;
    font-size: 16px;
    border-radius: 24px;
}

.btn_encriptar{
    background-color: var(--color-blue);
    color: white;
}

.btn_desencriptar{
    background-color:var(--color-gris);
    color: var(--color-blue);
}

.parte_derecha{
    background-color: #ffffff;
    height: calc(100% + 48px);
    border-radius: 32px;
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.muneco{
    width: 100%;
}

@media screen and(max-width:800px) {
    .main{
        grid-template-columns: 1fr;
        width: auto;
        margin: auto 40px;
    }
    .parte_derecha{
        height: 100%;
    }
    .izquierda_botones{
        justify-content: center;
    }
    .btn_encriptar,
    .btn_desencriptar{
        width: 45%;
    }
    .muneco{
        display: none;
    }
}
@media screen and(max-width:500px){
    .main{
        margin: auto 16px;
    }
    .btn_encriptar,
    .btn_desencriptar{
        max-width: 100%;
        width: 100%;
    }
}