*{
    margin: 0;
    padding: 0;
}

:root{
    --color-blue:#0A3871;
    --color-gris:#D8DFE8;
    --color-gris2:#495057;

}

body{
    background-color: #F3F5FC;
    font-family: 'Inter', sans-serif;
}

textarea{
    font-family: 'Inter', sans-serif;
    background-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

::placeholder{
    color: var(--color-blue);
}

header{
    width: 90%;
    margin: auto;
}
.header__logo{
    margin-top: 40px;
}

.main{
    width: 80.5%;
    margin: auto 40px auto auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: calc(100vh - 91px - 72px);
}
/*MAIN*/

.parte_izquierda{
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.imagen_logo{
    width: 16px;
    height: 16px; 
}

.ingreso__texto{
    width: 80%;
    font-size: 32px;
    color:var(--color-blue);
    background-color: none;
    border: none;
    outline: none;
    resize: none;
}

.ingreso_texto::placeholder{
    color:var(--color-blue);
}

.izquierda_info{
    color: var(--color-gris2);
    font-size: 16px;
}

.izquierda_botones{
    display: flex;
    gap: 24px;
    margin-top: 16px;
}

.btn_encriptar,
.btn_desencriptar,
.btn_copiar{
    border: 1px solid var(--color-blue);
    cursor: pointer;
    max-width: 328px;
    width: 40%;
    height: 67px;
    font-size: 16px;
    border-radius: 24px;
}

.btn_encriptar{
    background-color: var(--color-blue);
    color: white;
}

.btn_desencriptar{
    background-color:var(--color-gris);
    color: var(--color-blue);
}

.btn_copiar{
    width: 100%;
    background: transparent;
    color: var(--color-blue);
    display: none;
}

.parte_derecha{
    background-color: #ffffff;
    height: calc(100% + 48px);
    border-radius: 32px;
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    align-items: center;
    box-shadow: 0px 24px 32px 8px rgba(0, 0,0,0.08);
}

.parte_derecha.ajustar{
    justify-content: space-between;
}

.muneco{
    width: 100%;
}

.oculto{
    display: none;
}

.mensaje_final{
    background: none;
    border: none;
    outline: none;
    resize: none;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}
.mensaje_final.ajustar{
    text-align: left;
    font-weight: lighter;
    height: 80%;
}

.derecha_info{
    color: var(--color-gris2);
    font-size: 16px;
    text-align: center;
}

footer{
    margin:25px;
}

@media (max-width:800px) {
    .main{
        grid-template-columns: 1fr;
        grid-template-rows: 75% auto;
        width: auto;
        margin: auto 40px;
    }
    .parte_derecha{
        height: 100%;
    }
    .izquierda_botones{
        justify-content: center;
    }
    .btn_encriptar,
    .btn_desencriptar{
        width: 45%;
    }
    .muneco{
        display: none;
    }
}
@media (max-width:500px){
    .main{
        margin: auto 16px;
    }
    .btn_encriptar,
    .btn_desencriptar{
        max-width: 100%;
        width: 100%;
    }
}